.home-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 150px 150px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Verdana", sans-serif;
	outline: 0;
	background: #e0dddd50;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Verdana", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(109, 194, 112);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
	background: rgb(42, 104, 45);
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

body {
	background-image: url(/background.jpg);
	font-family: "Verdana", sans-serif;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%
}

table,
td,
th {
	text-align: center;
	margin: 0 auto 100px;
	height: 70px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}

.tables {
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 0px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.tableHead {
	background-color: rgba(131, 255, 137, 0.418)
}

th {
	padding: 20px 10px;
	font-weight: 500;
	font-size: 13px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	border-bottom: solid 3px rgb(0, 0, 0);
	border-top: solid 3px rgb(0, 0, 0);
	border-left: solid 1px rgba(0, 0, 0, 0.11);
	border-right: solid 1px rgba(0, 0, 0, 0.11);
}

td {
	padding: 15px;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	color: rgb(0, 0, 0);
	border-bottom: solid 3px rgb(0, 0, 0);
	border-left: solid 1px rgba(0, 0, 0, 0.11);
	border-right: solid 1px rgba(0, 0, 0, 0.11);
}

table {
	margin: 15px;
	background: #FFFFFF;
}

.dataColumn {
	width: 150px;
}

.dataColumnDescription {
	width: 400px;
}

.input {
	background-color: rgba(241, 44, 44, 0.418);
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 5px 5px 5px rgb(34, 49, 31);
	padding: 0.3em 1em 0.3em 1em;
	font-weight: 900;
	font-size: 14px;
}

.input:hover {
	background-color: rgb(219, 38, 38);
	cursor: pointer;
}

.input:active {
	box-shadow: none;
	top: 3px;
}

a.link {
	background-color: rgba(131, 255, 137, 0.733);
	box-shadow: 0 5px 5px rgb(34, 49, 31);
	color: rgb(0, 0, 0);
	font-weight: 900;
	padding: 0.3em 1em 0.3em 1em;
	text-decoration: none;
	text-transform: uppercase;
}

a.link:hover {
	background-color: rgb(66, 180, 43);
	cursor: pointer;
}

a.link:active {
	box-shadow: none;
	top: 3px;
}

a.edit {
	background-color: rgba(110, 109, 109, 0.925);
	box-shadow: 0 5px 5px rgb(56, 56, 56);
	color: rgb(0, 0, 0);
	font-weight: 900;
	padding: 0.3em 1em 0.3em 1em;
	text-decoration: none;
	text-transform: uppercase;
}

a.edit:hover {
	background-color: rgb(27, 27, 27);
	color: #FFFFFF;
	cursor: pointer;
}

a.edit:active {
	box-shadow: none;
	top: 3px;
}